<!DOCTYPE html>
<html>
  <head>
    <title>BluesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__bar row">
          <div class="logo_name">
            <%= image_tag 'logo.png', :size => '50x50' %>
            <h1 class="grid-6"><a href="/">Blues app</a></h1>
          </div>
          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <ul class="user__info">
                <li>
                  <a><%= "Welcome!!" %></a>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"user_log" %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="user_nav grid-6">
              <ul class="user__info">
                <li>
                  <%= link_to "Log In", new_user_session_path, class:"user_log" %>
                  <%= link_to "Sign Up", new_user_registration_path, class:"user_log" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </header>
      <%= yield %>
      <footer>
        <p>
          Copyright blues_app 2020.
        </p>
      </footer>
    </div>
  </body>
</html>